
body {color: var(--body-text-color);
  background-color: var(--main-background);
  font-family: "Roboto", sans-serif;}

  :root {
    --light-brand-color: #4D5AE5;
    --dark-brand-color: #2E2F42;
    --body-text-color: #434455;
    --main-background: #ffffff;
    --secondary-background: #F4F4FD; 
    --light-accent: #E7E9FC;
    --pressed-state-color: #404BBF;}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.container {width: 1158px;
  justify-content: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {padding-top: 120px;
padding-bottom: 120px;}

.header {border-bottom: 1px solid #E7E9FC;}

.page-header {display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

  .logo {font-family: "Raleway", sans-serif;
  font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-brand-color);
margin-right: 76px;
}

.link {text-decoration: none;}
.portfolio-section {padding-top: 96px;
  padding-bottom: 120px;}

.span-logo-header {color: var(--dark-brand-color);}


  .menu {text-decoration: none;
  color: var(--dark-brand-color);
display: flex;
align-items: center;
gap: 40px;}

/*.menu-wraper li {margin-left:40px;
}*/

  .list {list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
 
}

.menu-link {font-weight: 500; 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: var(--dark-brand-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

  .menu-link:hover,
  .menu-link:focus {color: var(--pressed-state-color);}


/*.link:hover,
.link:focus {color: var(--pressed-state-color);}*/

.address-section {font-style: normal;}
.address-list {list-style: none;}

.address-link {font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: var(--body-text-color);
  margin-right: 0px;
  padding: 40px;
}

.link {text-decoration: none;}

.address-link:hover, 
.address-link:focus {color: var(--pressed-state-color);} 

 .hero-baner {background-color: var(--dark-brand-color);
    color: var(--main-background);
  padding-top: 188px;
padding-bottom: 188px;}

.hero-baner-wraper {
display: flex;
flex-direction: column;
align-items: center;

}

  .baner-heading {font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
 max-width: 496px;
margin-bottom: 48px;
}

  .baner-button {background-color: var(--light-brand-color); 
    color: #ffffff;
   cursor: pointer;
  font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
min-width: 169px;
padding-top: 16px;
padding-bottom: 16px;
height: 56px;
}

.baner-button:hover, 
.baner-button:focus {background-color: var(--pressed-state-color);}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.service-description-list {display: flex;
  gap: 24px;
  margin-left: 156px;
}
.service-description-list-item {
  display: flex; 
flex-direction: column;
  flex-basis: calc((100% - 72px) /4);
}

  .list-header {color: var(--dark-brand-color); 
    font-weight: 500; 
    font-size: 20px; 
    line-height: 1.2; 
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .paragraph-text {color: var(--body-text-color); 
    font-size: 16px; 
    line-height: 1.5; 
    letter-spacing: 0.02em;}

.section-headline {font-size: 36px; 
  line-height: 1.11; 
  text-align: center;
  letter-spacing: 0.02em; 
  text-transform: capitalize; 
  color: var(--dark-brand-color);
  margin-bottom: 72px;
}

 .service-img-list {display: flex;
gap: 24px;

}

.img-item {flex-basis: calc((100% - 48px ) / 3);}
.our-team-section {background-color: var(--secondary-background);}

.card-set {
 align-items: center;
  gap:24px;
}

.list li {background-color: var(--main-background);}
 

.team-member-card {background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

}

.card-footer {display: flex;
flex-direction: column;
padding-top: 32px;
padding-bottom: 32px;
}

.list-header {
  text-align: center;
margin-bottom: 8px;}

.paragraph-text {
text-align: center;
}

  .team-member-name {color: var(--dark-brand-color); font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing:0.02em;}

  .team-member-role {color: var(--body-text-color); font-size: 16px; line-height: 1.5; letter-spacing: 0.02em;}
 
  
.footer-settings {background-color: var(--dark-brand-color);
padding: 100px 0;}

.logo-footer {font-family: "Raleway", sans-serif;
  font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-brand-color);
margin-bottom: 16px;}

.span-logo-footer {color: var(--secondary-background);
display: inline-block;}


.footer-subcontainer {display: flex;
flex-direction: column;
}



.footer-text {color: var(--secondary-background); 
font-size: 16px;
line-height: 1.5; 
letter-spacing: 0.02em;
max-width: 264px;
}


.portfolio-filters {list-style: none;
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.porftolio-results {display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
/*flex-basis: calc((100% - 48px ) / 3);*/
margin-left: 156px;
margin-bottom: 120px;}

.portfolio-single-card {display: flex;
  align-content: center;
  flex-basis: calc((100% - 48px) / 3); 
}

.card-footer-wraper {border-left: 1px solid #E7E9FC;
  border-bottom: 1px solid #E7E9FC;
border-right: 1px solid #E7E9FC;
border-top: none;
padding: 32px 16px;}

.filter-button {font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--light-brand-color);
background-color: var(--secondary-background);
padding: 12px 24px;
border: 1px solid color var(--light-accent);}


.filter-button:hover, 
.filter-button:focus {color: var(--main-background); 
  background-color: var(--pressed-state-color); 
  border: 1px solid transparent;
  cursor: pointer;}

/*button {color: var(--light-brand-color); background-color: var(--secondary-background); border: color: var(--light-accent);}*/

/*button:hover, button:focus {color: var(--main-background); background-color:  var(--pressed-state-color); cursor: pointer;}*/


.project-headline {color: var(--dark-brand-color); 
  font-size: 20px; 
  font-weight: 500; 
  line-height: 1.2; 
  letter-spacing: 0.02em;
 margin-bottom: 8px;
}


.project-category {color: var(--body-text-color); 
  font-size: 16px; 
  line-height: 1.5; 
  letter-spacing: 0.02em;
}


